
.fade-up{

opacity:0;

transform:translateY(50px);

transition:.8s;

}

.fade-up.show{

opacity:1;

transform:translateY(0);

}

.zoom{

transform:scale(.9);

opacity:0;

transition:.8s;

}

.zoom.show{

transform:scale(1);

opacity:1;

}

.slide-left{

opacity:0;

transform:translateX(-80px);

transition:.8s;

}

.slide-left.show{

opacity:1;

transform:translateX(0);

}

.slide-right{

opacity:0;

transform:translateX(80px);

transition:.8s;

}

.slide-right.show{

opacity:1;

transform:translateX(0);

}

.rotate{

transform:rotate(-10deg);

opacity:0;

transition:.8s;

}

.rotate.show{

transform:rotate(0);

opacity:1;

}